<!doctype html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Success. Your email has been sent successfully.</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/responsive.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css"> <!-- Main styles -->
	<link rel="stylesheet" href="css/themes/theme-orange.css"> <!-- Theme styles. You can put any CSS theme file from "css/theme/". "theme-blue.css", "theme-grey.css" etc. -->
	<link rel="stylesheet" href="css/ionicons.min.css">
</head>
<body>

<!-- BEGIN PRELOADER -->
<div id="preloader"></div>
<!-- END PRELOADER -->

<div class="small-container">
	<div class="success-msg">
		<div class="row">
			<div class="col-sm-12">
				<h1><i class="ion-ios-checkmark-outline"></i>Success</h1>
				<p>Your email has been sent successfully. Thank you!</p>
				<a href="index.html">← Back to main page</a>
			</div>
		</div>
	</div>
</div>

<script src="js/jquery-1.12.4.min.js"></script>
<script src="js/smoothscroll.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/custom.js"></script>
<script src="js/respond.js"></script>

</body>
</html>