<!doctype html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>Main Page</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/magnific-popup.css">
	<link rel="stylesheet" href="css/owl.carousel.css">
	<link rel="stylesheet" href="css/main.css">
	<!-- Main styles -->
	<link rel="stylesheet" href="css/themes/theme-orange.css">
	<!-- Theme styles. You can put any CSS theme file from "css/theme/". "theme-blue.css", "theme-grey.css" etc. -->
	<link rel="stylesheet" href="css/ionicons.min.css">
</head>

<body>

	<!-- BEGIN PRELOADER -->
	<div id="preloader"></div>
	<!-- END PRELOADER -->


	<!-- BEGIN CONTAINER -->
	<div class="container">

		<!-- BEGIN SECTION "hero" -->
		<div id="hero" class="section">
			<div class="row">
				<div class="col-md-2">

					<!-- BEGIN "logo" -->
					<div class="logo">
						<img src="./img/me.jpg" alt="logo">
					</div>
					<!-- END "logo" -->


				</div>
				<div class="col-md-offset-1 col-sm-12 col-md-9">
					<h1 class="name-title">Irvin Nelson</h1>
					<h2 class="profession-subtitle">Student & Technician</h2>
					<p>I’m a full time technician for the awesome team at Sony Electronics and currently enrolled in the Fullstack Web Development
						program at UCSD Extension. </p>
					<hr>
					<div class="row">
						<div class="contact-list">
							<div class="col-md-3 col-sm-6 col-xs-12">
								<p class="contact-list-title"><i class="ion-ios-location-outline"></i>Location</p>
								<p class="contact-list-text">US, San Diego, CA</p>
							</div>

							<div class="col-md-3 col-sm-6 col-xs-12">
								<p class="contact-list-title"><i class="ion-ios-telephone-outline"></i>GitHub</p>
								<p class="contact-list-text"><a href="https://github.com/irvinlnelson">Profile</a></p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<p class="contact-list-title"><i class="ion-ios-world-outline"></i>LinkedIn</p>
								<p class="contact-list-text"><a href="https://www.linkedin.com/in/irvin-nelson-6215b2a1/">Profile</a></p>
							</div>
							<div class="col-md-3 col-sm-6 col-xs-12">
								<p class="contact-list-title"><i class="ion-ios-email-outline"></i>Email</p>
								<p class="contact-list-text"><a href="#">irvinleenelson@gmail.com</a></p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION "hero" -->

		<!-- BEGIN SECTION "intro" -->
		<div id="intro" class="section">
			<div class="row">
				<div class="col-md-2">
					<div class="label">
						<span class="num">Intro</span>
						<span class="name">About Me</span>
					</div>
				</div>
				<div class="col-md-offset-1 col-sm-12 col-md-9">
					<p>After working in the tech field for 3 years, I grew a deep interest and curiosity in understanding the script I would
						run on a day to day basis.</p>
					<p class="hint-text">Now, a few months later, I am currently enrolled in at UCSD in a Fullstack Web Development program
						to pursue my interest in coding.</p>
				</div>
			</div>
		</div>
		<!-- END SECTION "intro" -->

		<!-- BEGIN SECTION "portfolio" -->
		<div id="portfolio" class="section">
			<div class="row">
				<div class="col-md-2">
					<div class="label">
						<span class="num">Portfolio</span>
						<span class="name">My works</span>
					</div>
				</div>
				<div class="col-md-offset-1 col-sm-12 col-md-9">
					<div class="row">
						<div class="col-sm-6">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="https://irvinlnelson.github.io/Psychic-Game/" target="_blank">
										<img src="./img/crystalball.jpeg" alt="work" class="img-responsive">
									</a>
								</div>
								<div class="portfolio-description">
									<div class="portfolio-category-tag">Psychic Game</div>


								</div>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="https://nortonnice.github.io/ZINK2/" target="_blank">
										<img src="./img/football-and-politics.jpg" alt="work" class="img-responsive">
									</a>
								</div>
								<div class="portfolio-description">
									<div class="portfolio-category-tag">Group Project 1</div>
								</div>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="https://irvinlnelson.github.io/GiphyHomework/" target="_blank">
										<img src="./img/lbj.jpeg" alt="work" class="img-responsive">
									</a>
								</div>
								<div class="portfolio-description">
									<div class="portfolio-category-tag">Lakers Giphy App</div>

								</div>
							</div>

						</div>
						<div class="col-sm-6">
							<div class="portfolio-item">
								<div class="portfolio-image">
									<a href="#image-modal-4" target="_blank" title="" class="image-modal" data-toggle="modal" data-target=".modal1">

									</a>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION "portfolio" -->






		<!-- START SECTION "quotes" -->
		<div id="quotes" class="section">
			<div class="row">
				<div class="col-md-2">
					<div class="label">
						<span class="num">Quotes</span>
						<span class="name">Inspiration</span>
					</div>
				</div>
				<div class="col-md-offset-1 col-sm-12 col-md-9">
					<div class="owl-carousel-quotes owl-carousel owl-theme">
						<div class="item">
							<!-- begin slide 1 content -->
							<blockquote>
								I can accept failure, everyone fails at something. But I can't accept not trying.
								<cite>Michael Jordan</cite>
							</blockquote>
							<!-- end slide 1 content -->
						</div>
						<div class="item">
							<!-- begin slide 2 content -->
							<blockquote>
								A user interface is like a joke. If you have to explain it, it’s not that good.
								<cite>Unknown</cite>
							</blockquote>
							<!-- end slide 2 content -->
						</div>
						<div class="item">
							<!-- begin slide 3 content -->
							<blockquote>
								Timing, perseverance, and 10 years of trying will eventually make you look like an overnight success.
								<cite>Biz Stone</cite>
							</blockquote>
							<!-- end slide 3 content -->
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- END SECTION "quotes" -->



		<!-- START SECTION "contact" -->
		<div id="contact" class="section">
			<div class="row">
				<div class="col-md-2">
					<div class="label">
						<span class="num">Contacts</span>
						<span class="name">Contact form</span>
					</div>
				</div>
				<div class="col-md-offset-1 col-sm-12 col-md-9">
					<form id="mail" action="php/mailscript.php" method="post">
						<div class="row">
							<div class="col-sm-6">
								<input placeholder="First Name" required="required" name="first_name" type="text">
							</div>
							<div class="col-sm-6">
								<input placeholder="Last Name" required="required" name="last_name" type="text">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-6">
								<input placeholder="Email Address" required="required" name="email" type="email">
							</div>
							<div class="col-sm-6">
								<input placeholder="Subject" required="required" name="subject" type="text">
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<textarea placeholder="Message" required="required" name="massage" cols="50" rows="10"></textarea>
							</div>
						</div>

						<div class="row">
							<div class="col-sm-12">
								<input type="submit" name="submit" value="Send Message">
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
		<!-- END SECTION "contact" -->

		<!-- BEGIN FOOTER -->
		<footer>
			<div class="row">
				<div class="col-sm-12">
					<p class="footer-copyright">© Irvin Nelson 2018. All rights reserved.</p>
					<p class="footer-social-media">
						<a href="#" class="icon"><i class="ion-social-facebook"></i></a>
						<a href="#" class="icon"><i class="ion-social-twitter"></i></a>
						<a href="#" class="icon"><i class="ion-social-dribbble-outline"></i></a>
					</p>
				</div>
			</div>
		</footer>
		<!-- END FOOTER -->

	</div>
	<!-- END CONTAINER -->

	<script src="js/jquery-1.12.4.min.js"></script>
	<script src="js/smoothscroll.js"></script>
	<script src="js/jquery.magnific-popup.min.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/respond.js"></script>

</body>

</html>